/* Colors */
$primary-color: #cbd5e0;
$text-color: #3d4852;
$text-color-alt: #718096;
$text-color-alt-2: #495568;
$text-color-alt-3: #7f8ea4;
$text-color-alt-4: #bac7d6;
$placeholder-color: #cbd5e0;
$border-color: #e6ebf2;
$link-color: #671fe8;
$white: #fff;
$black: #000;
$box-shadow: rgba(0, 0, 0, 0.1);

/* Twitter theme colors */
$twitter-text-color: #333333;
$twitter-text-color-alt: #828282;
$twitter-primary-color: #1DA1F2;
$twitter-input-background: #E7ECF0;
$twitter-border: rgba(0, 0, 0, 0.08);

/* Discord theme colors */
$discord-primary-color: #36393F;
$disocrd-sec-color: #40444B;
$discord-text-color: #727479; 
$discord-button-color: #5865F2; 
$discord-link-color: #768AD4;


/* Fonts */
$primary-font: 'Roboto', sans-serif;

#comments.wpnat-comments-area {
	font-size: 10px;
	font-family: $primary-font; 

	/* Type modern comments styles */
	form, fieldset, table, tr, td, input, button, select, textarea, optgroup, option, a{
		font-family: $primary-font; 
		text-decoration: none;

		&:focus {
			outline: none;
			text-decoration: none;
		}
	}

	&.modern, &.twitter,  &.discord { 

		.comment-respond{  
			margin-top: 0;
			margin-bottom: 0;

			form {  
				padding-left: 65px;

				.comment-notes {
					display: none;
				}

				.wpnat-row {
					display: flex;
					flex-wrap: wrap;
					
					.wpnat-common-input {
						float: none;
						
						@media ( max-width: 767px ){
							width: 100%;
						}
					}
				}

				.wpnat-common-input {
					margin-bottom: 0;

					&.wpnat-comment-form-comment {
						margin-top: 0;

						img {
							position: absolute;
							left: 0;
						}
					}
				}

				.form-submit {
					margin-top: 10px;
					margin-bottom: 0;
				}
			}
		}

		.wpnat-comment-list {
			margin-top: 40px; 
			padding-left: 0;
			list-style: none;

			.comment {
				position: relative;
				margin-left: 0;

				.wpnat-comment-author {
					display: flex;
					flex-wrap: wrap;

					.avatar {
						position: absolute;
						left: 0; 
						margin-top: -10px;
						border-radius: 100%;
					}

					.fn { 
						margin-top: -2px;
						padding-left: 0;
						line-height: normal;
						font-size: 1.5em;
						margin-right: 11px;
					}

					.wpnat-comment-metadata {
						line-height: normal;

						a { 
							font-size: 1.2em;
							color: $text-color-alt;
						}

						.edit-link {
							padding-left: 10px; 
						}
					}
				}

				ol.children { 
					padding-left: 0;
					list-style: none;
				
					
				}

				.wpnat-comment-body {
					.wpnat-comment-content, .wpnat-comment-content p, .wpnat-comment-awaiting-moderation {
						margin-top: 5px;
						margin-bottom: 15px;
						font-size: 15px;
						line-height: 22px; 
					}
				}
			}
		}
	}

	&.modern {

		.comment-respond{ 
			margin-top: 0;
			margin-bottom: 0;

			form {
				padding-left: 65px;

				.wpnat-common-input {

					input, textarea {
						display: block;
						padding: 8px 12px;
						width: 100%;
						border: .1em solid $primary-color;
						border-radius: 5px;
						margin-bottom: 0;
						outline: none;
						font-size: 1.4em;
						line-height: normal;
						font-weight: 400;
						color: $text-color;
						appearance: none;
						resize: none;
	
						&::placeholder{
							color:  $primary-color;
						}
					}

					textarea {
						height: 50px;
						min-height: 50px;
					}

				}

				.comment-form-cookies-consent {
					margin-bottom: 10px;

					label {
						font-size: 1.4em; 
					}
				}
	
				.form-submit {

					.submit {
						padding: 6px 15px;
						border: 1px solid #d9e1eb;
						border-radius: 5px;
						background-color: $white;
						color: $text-color;
						font-size: 1.3em;
						font-weight: 500;
						text-align: center;
						text-decoration: none;
						transition-duration: .15s;
	
						&:hover {
							box-shadow:
							0 1px 2px 0 $box-shadow;
						}
	
					}
				}
			}
		}

		.wpnat-comment-list {

			.comment {
				padding-left: 65px;

				&.hide {

					.wpnat-angle-arrow {
						transform: rotate(180deg);
					}

					&::before {
						display: none;
					}

					.children {
						display: none; 
					}
				}

				&.depth-1 {
					margin-bottom: 0;

					.comment-respond {
						padding-bottom: 30px;
						margin-top: -20px; 

						small {
							position: absolute;
							right: 0;
							width: auto;
							top: -40px;
							left: auto;

							a#cancel-comment-reply-link {
								font-size: 14px;
								font-weight: 500;
								color: $text-color-alt-3;
							}
						}
					}

					&.parent { 
						&::before{
							content: '';
							position: absolute;
							top: 70px;
							left: 22.5px;
							bottom: 30px;
							border-left: 1px solid $border-color;
						}				
					}
				}

				.wpnat-comment-author {
					.fn, .fn a {
						font-weight: 500;
						color: $text-color;
					}
				}
				
				.wpnat-comment-body {
					padding-bottom: 30px;

					.wpnat-comment-arrow-trigger {
						cursor: pointer;
						
						.wpnat-comments-count { 
							position: absolute;
							top: 40px;
							left: 20px;
							color: $text-color-alt-4;
						}
	
						.wpnat-angle-arrow {
							position: absolute;
							top: 55px;
							left: 18px; 
						}
					}

					.wpnat-comment-content, .wpnat-comment-content p, .wpnat-comment-awaiting-moderation {
						color: $text-color-alt-2;

						a{
							color: $link-color;
						}
					}

					.reply { 
						line-height: normal;
						margin-top: -3px;

						.comment-reply-link {
							font-size: 1.4em;
							font-weight: 500;
							color: $text-color-alt-3;
							background-color: transparent;
						}
					}
					
				}

			}
		}
	}

	&.twitter {

		.twitter-btn {
			padding: 15px 30px;
			border-radius: 100px; 
			background-color: $twitter-primary-color;
			font-size: 1.5em;
			color: $white; 

			@media ( max-width: 991px ) { 
				padding: 10px 25px;
			}
		}

		.comment-respond { 
			padding-bottom: 20px;

			.wpnat-common-input { 

				input, textarea {
					padding: 10px 30px;
					border: 0;
					border-radius: 100px;
					font-size: 1.5em;
					font-weight: 400;
					color: $twitter-text-color-alt;
					background-color: $twitter-input-background;
					resize: none;
				}

				textarea {
					border-radius: 20px;
				}
			}

			.comment-form-cookies-consent { 
				margin-top: 25px;
				margin-bottom: 5px;

				label {
					font-size: 1.5em;
					color: $twitter-text-color;
				}

				@media ( min-width: 992px ) {
					padding-right: 120px;
				}
			}

			.form-submit { 

				.submit {
					@extend .twitter-btn;
				}

				@media ( min-width: 992px ) {
					text-align: right;
					position: absolute; 
					bottom: 10px;
					right: 0;
				}
			}

			small {
				position: absolute;
				right: 0;
				left: auto;
				top: -59px; 
				width: auto;

				#cancel-comment-reply-link{
					@extend .twitter-btn;
					font-size: 15px;
				}

				@media ( max-width: 991px ) {
					top: -55px; 
				}
			}
		}

		.wpnat-comment-list {
			.comment {
				padding-left: 0;
				line-height: normal;

				.wpnat-comment-body {
					padding-left: 65px;

					.wpnat-comment-meta{
						.wpnat-comment-author {
							.fn, .fn a {
								color: $black;
							}
						}
					}

					.wpnat-comment-content, .wpnat-comment-content p, .wpnat-comment-awaiting-moderation {
						color: $twitter-text-color;

						a {
							color: $twitter-primary-color;
						}
					}

					.reply {
						margin-bottom: 20px;

						a {
							@extend .twitter-btn;
							display: inline-block;
						}
					}
				}

				&.depth-1  { 
					border-bottom: 1px solid $twitter-border;
					margin-bottom: 30px;
					&.parent{  
						&::before{
							content: '';
							position: absolute;
							top: 30px;
							left: 23px;
							bottom: 135px;
							border-left: 2px solid $twitter-border;
						}	
					}
				}
			}
		}
	}

	&.discord {
		padding: 20px;
		border-radius: 20px;
		background-color: $discord-primary-color;

		.discord-btn {
			padding: 10px 25px;
			border-radius: 5px;
			font-size: 1.5em;
			color: $white;
			background-color: $discord-button-color;
		}

		.comment-respond {
			.comment-form {
				.wpnat-common-input{
					input, textarea {
						padding: 10px 15px;
						border: 0;
						border-radius: 10px;
						background-color: $disocrd-sec-color;
						font-size: 1.5em;
						color: $white;
						resize: none;

						&::placeholder {
							color: $discord-text-color;
						}
					}
				}

				.comment-form-cookies-consent {
					position: relative;

					input[type=checkbox] { 
						display: none;

						& + label::before {
							content: "";
							position: absolute;
							top: 6px;
							left: 4px;
							width: 12px;
							height: 12px; 
							background-size: contain;
							z-index: 1;
						}

						&:checked + label:before { 
							background-image: url('../images/checkmark.svg');
					  	}

					  }
					
 
					label {
						padding-left: 30px;
						font-size: 1.5em;
						cursor: pointer; 

						&::after {
							content: '';
							position: absolute;
							left: 0;
							top: 2px;
							width: 20px;
							height: 20px;
							border-radius: 5px;
							background-color: $white;
						}
					}
				}			

				.form-submit {
					.submit {
						@extend .discord-btn;
					}
				}
			}
		}

		.wpnat-comment-list {
			margin-bottom: 0;
			.comment {
				padding-left: 65px;

				&.depth-1 {
					.comment-respond {

						small {
							position: absolute;
							right: 5px;
							top: 5px;
							left: auto;
							width: auto;
							
							a {
								display: block;
								width: 20px;
								height: 20px;
								background-image: url('../images/discord-close.svg');
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
								font-size: 0;
							}
						}

						.comment-form {
							padding-bottom: 20px;
						}
					}
				}

				.wpnat-comment-body {
					padding-bottom: 35px;

					.wpnat-comment-meta {
						.fn, .fn a {
							font-size: 15px;
							color: $white;
						}

						.wpnat-comment-metadata {
							a, .edit-link .comment-edit-link {
								font-size: 1.2em;
								color: $discord-text-color;
							}
						}
					}

					.wpnat-comment-content, .wpnat-comment-content p, .wpnat-comment-awaiting-moderation {
						color: $white;

						a {
							color: $discord-link-color;
						}
					}

					.reply {
						a {
							@extend .discord-btn;
						}
					}
				}
			}
		}
	}
}

.logged-in {

	#comments.wpnat-comments-area {

		&.twitter {

			.comment-respond { 

				.form-submit {
					 
					@media ( min-width: 992px ) {
						position: unset; 
					}
				}
			}
		}
	}
}
